/* Calculater */
:root {
  --calculater-screen-primary: #e0e0e0;
  --calculater-screen-ans-primary: #858694;
  --calculater-screen-last-row: #f5913e;
  --primary-white: #fff;
  --primary-black: #000;
}

.calculater-container {
  display: flex;
}

table {
  margin: 0 auto;
}

td {
  width: 10rem;
  height: 5.5rem;
  text-align: center;
  background-color: var(--calculater-screen-primary);
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

td:last-child {
  background-color: var(--calculater-screen-last-row);
}

#calculater-answer-el {
  background-color: var(--calculater-screen-ans-primary);
  text-align: right;
  padding-right: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-white);
  cursor: auto;
}

::selection {
  color: #000;
}

@media (min-width: 764px) {
  .calculater-container {
    justify-content: flex-end;
    padding: 8rem 16rem;
  }

  table {
    margin: 0;
  }
}
